@import "tailwindcss";

label:not(:has(.required-indicator)):has(+ :is(input, select, textarea)[required])::after,
label:not(:has(.required-indicator)):has(+ div :is(input, select, textarea)[required])::after {
  content: " *";
  color: #dc2626;
}
